body {
    padding: 0;
    margin: 0;
}

html,
body
{
    height: 100%;
    width: 100%;
}

.main-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
}

.main-menu {
    flex-grow: 0;
    overflow-y: scroll;
    height: 100%;
    width: 30%;
}

#mapid {
    flex-grow: 3;
    width: 70%;
    height: 100%;
}

.panel {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

.item {
    border: 2px solid #b3b3b3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 20px;
}


/* input[type="checkbox"] {
    width: 50px;
    height: 50px;
    display: inline-block;
    flex: 30%
} */


.info {
    flex: 70%;
}

.selected {
    background-color: #3498db;
}

.btn {
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    background-color: #04AA6D;
    height: fit-content;
    color: #ffffff;
    margin-top: 10px;
}