<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <link rel="stylesheet" href="/static/css/style.css">
    
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    
     
     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
     integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
     crossorigin=""></script>
    
     <script src="https://unpkg.com/vue@next"></script>

    <!-- <script src="https://unpkg.com/proj4"></script>
    <script src="https://unpkg.com/georaster"></script>
    <script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
    <script src="https://cdn.jsdelivr.net/npm/geotiff"></script> -->
    
    <title>SGM Opendatacube</title>
</head>
<body>
    <div id="app" class="container">
        <div class="panel">
            <div id="menu" class="menu">
                <div class="search_menu">
                    <h1>Поиск</h1>
                    <div class="input_group">
                        <label>
                            Широта:
                            <input v-model="roi.minlat" size=8>
                            <input v-model="roi.maxlat" size=8>
                        </label>
                    </div>
                    <div class="input_group">
                        <label>
                            Долгота:
                            <input v-model="roi.minlon" size=8>
                            <input v-model="roi.maxlon" size=8>
                        </label>
                    </div>
                    <div class="input_group">
                        <label>
                            Даты:
                            <input v-model="dates.date1" size=8>
                            <input v-model="dates.date2" size=8>
                        </label>
                    </div>
                    <button id="search" v-on:click="search">Искать</button>
                </div>
                
                <div class="process_menu">
                    <h1>Обработка</h1>
                    <h2>Выбрано файлов: [[ itemsToProcess.length ]]</h2>
                    <div class="input_group">
                        <label>
                            Алгоритм:
                        <select v-model="algorithm">
                            <option disabled value="">Выберете алгоритм</option>
                            <option value="rgb">Псевдоцветное изображение</option>
                            <option value="pan">Панхроматическое изображение</option>
                            <option value="ndvi">NDVI</option>
                        </select>
                        </label>
                    </div>
                    <button id="process" v-on:click="process">Обработать</button>
                </div>

            </div>
            
            <div v-if="loading" class="loader">
            </div>
            <div class="items">
                <search-item v-for="item in items" :item="item" :key="item.id" v-model="itemsToProcess"></search-item>
            </div>
        </div>
        <div id="mapid">
        </div>
    </div>

    <script src="/static/scripts/script.js"></script>
</body>
</html>